{% extends 'base.html.twig' %}

{% block body %}

<p>Task is submitted!</p>

<p><a href="{{ path("addTask") }}">Add another one</a></p>

<p><a href="{{ path("homepage") }}">Back to homepage</a></p>

{% endblock %}